<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static "css/demo1.css"%}">
    <title></title>
  </head>
  <body>
<div class='container' align='center'>
  <div class="jumbotron">
    <h1 class="display-4">Welcome to news central</h1>
    <hr class="my-4">
    <a class="btn btn-primary btn-lg" href="/sportsnews" role="button">Sports news</a>&nbsp&nbsp&nbsp
    <a class="btn btn-primary btn-lg" href="/moviesnews" role="button">Movies news</a>&nbsp&nbsp&nbsp
    <a class="btn btn-primary btn-lg" href="politicsnews" role="button">Politics news</a>&nbsp&nbsp&nbsp 
</div>
</div>
  </body>
</html>
